#Links {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center; 
    padding: 20px 0;
    color: black;
    color: #FF5733; 
    text-decoration: none; 
   
}
html, body {
    min-height: 100%;
}
html{
    scroll-behavior: smooth;
}

body {
    background-image: url('./img/background.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: black;
    font-weight: bold;
    overflow-x: hidden;
}
.title{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 50px;
    color: black;
}
.linksbreak{
    border: none;
    width: 75%;
    height: 2px;
    color: black;
    background-color: black;
}
.aboutmebreak{
    border: none;
    width: 12%;
    height: 2px;
    color: black;
    background-color: black;
    
}

.aboutmep{
    text-align: center;
    font-size: 18px;
    color: black;
}
.aboutmepic{
display: flex;
justify-content: center;
align-items: center;
width: 32vh;   
margin: 0 auto;
border: 5px solid black;
border-radius: 10px;
}
.resumeintro{
    text-align: left;
}
.education{
    font-size: 18px;
    color: black;
}
.workinfo{
    font-size: 18px;
    color: black;
}
.work{
    font-size: 18px;
    color: black;
}

.skillsdescription {
    text-align: center;
    font-size: 18px;
}

.landscaperp {
    text-align: center;
    font-size: 18px;
}

#landscaperimg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vh;   
    margin: 0 auto;
    border: 5px solid black;
    border-radius: 10px;
}
.projecthrlines{
    border: none;
    width: 25%;
    height: 2px;
    color: black;
    background-color: black;
}
#resumebox {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 75px;

}
.navbar ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 76px;
}
.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
background-color: black;
}
.navbar li{
    float:left;
}
#mypic{
   float: left;
   margin: 0;
}
#aboutme{
    float: right;
    margin: 0;
}
.container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 76px;
}
.descrip {
    font-size:25px;
}
#AboutMe {
    font-size: 35px;
    margin: 0;
}
.titles {
    text-align: center;
}
@media (max-width: 500px  ){
    .descrip{
        font-size: 10px;
    }
    #AboutMe {
        font-size: 15px;
        margin: 0;
    }
    .aboutmepic{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;   
        margin: 0 auto;
        border: 5px solid black;
        border-radius: 10px;
        }
        .container{
            display: flex;
            justify-content: center;
            margin-top: 50px;
            gap: 46px;
        }
}
#github{
    height: 50px;
    width: 120px;
}
#myprojects{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 50px;
    color: black;
}
#myresume{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 50px;
    color: black;
}
#contactme{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 50px;
    color: black;
}