#Links {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center; 
    padding: 20px 0;
    color: black;
    color: #FF5733; 
    text-decoration: none; 
   
}
body {
    background-color: aquamarine;
    color: black;
    font-weight: bold;
}
.title{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 50px;
    color: black;
}
.linksbreak{
    border: none;
    width: 75%;
    height: 2px;
    color: black;
    background-color: black;
}
.aboutmebreak{
    border: none;
    width: 12%;
    height: 2px;
    color: black;
    background-color: black;
    
}
h2 {
    text-align: center;
    color: black;
}
.aboutmep{
    text-align: center;
    font-size: 18px;
    color: black;
}
.aboutmepic{
display: flex;
justify-content: center;
align-items: center;
width: 32vh;   
margin: 0 auto;
border: 5px solid black;
border-radius: 10px;
}
.resumeintro{
    text-align: left;
}
.education{
    font-size: 18px;
    color: black;
}
.workinfo{
    font-size: 18px;
    color: black;
}
.work{
    font-size: 18px;
    color: black;
}

.skillsdescription {
    text-align: center;
    font-size: 18px;
}

.landscaperp {
    text-align: center;
    font-size: 18px;
}

#landscaperimg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vh;   
    margin: 0 auto;
    border: 5px solid black;
    border-radius: 10px;
}
.projecthrlines{
    border: none;
    width: 25%;
    height: 2px;
    color: black;
    background-color: black;
}