*{
    margin: 0;
    padding: 0;
}
html, body {
    min-height: 100%;
}
html{
    scroll-behavior: smooth;
}
body {
    background-image: url('./img/background.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: auto;
    color: black;
    font-weight: bold;
    overflow-x: hidden;
}
#header-title{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 50px;
    color: black;
}
#navbar ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 76px;
}
#navbar li{
    float:left;
}
#navbar a {
    color: black;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    font-size: 20px;
}
#navbar a:hover{
background-color: white;
}
#header-github{
    height: 50px;
    width: 120px;
    mix-blend-mode: darken;  
}
#header-linkedin{
    height: 50px;
    width: 120px;
    mix-blend-mode: darken;  
}
header {
    background-image: url('./img/headerpic.avif');
    background-attachment: fixed;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%; 
    height: 100%;
}
#about-me-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 76px;
}
#profile-pic-container{
    float: left;
    margin: 0;
 }
 .profile-pic{
    border-radius: 50%; 
    overflow: hidden; 
    height: 300px;
    display: flex;
    justify-content: center;
    border: 5px solid black;
}
#about-me-description-container{
    float: right;
    margin: 0;
}
#about-me-title {
    font-size: 35px;
    margin: 0;
}
#about-me-description {
    font-size:25px;
}
#achievements-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 76px;   
}
#achievements-title{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 50px;
    color: black;
}
/* #my-projects-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 76px;
} */
#my-projects-title{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 50px;
    color: black;
}
.project-titles {
    text-align: center;
}
#simon-game-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#simongame{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#tile-matching-game-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#tilematching{
    width: 500px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#contact-me-container {
    background-image: url('./img/footer.jpg');
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}
#contact-me-title{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 50px;
    color: white;
}
.social-icons-container {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.social-icons-container li {
    margin: 0 10px;
}

.social-icons-container a {
    text-decoration: none;
    color: green;
    font-size: 20px;
}
.footer-icon-pics{
    width: 100px;
    height: 100px;
    cursor: pointer;
}
.overlay {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    overflow: hidden;
    width: 100%;
    height: 25%;
    transform: scale(0);
    transition: .3s ease;
  }
a:hover .overlay {
    transform: scale(1);
  }
#footer-sentence{
    font-size: 30px;
}

@media (max-width: 500px  ){



}
